@model Nomenclatures.Data.Produit

<div>
    <label>Composants</label>

    <button id="btnAddComponent" class="btn btn-primary">Ajouter un composant</button>

    <div id="components">

    </div>
</div>
