@model Nomenclatures.Data.ProduitFini

<form method="post" asp-action="SaveProduitFini" >
    <partial name="_FormProduit" model="Model"></partial>
    <div class="form-group">
        <label asp-for="PrixUnitaire"></label>
        <input class="form-control" asp-for="PrixUnitaire">
        <span asp-validation-for="PrixUnitaire"></span>
    </div>

    <partial name="_Composants" model="Model"></partial>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="List" class="btn btn-primary">Annuler</a>
</form>

@section Scripts
{
    <partial name="_ComposantsScripts" model="Model"></partial>
}