@model ProduitViewModel

<form method="post" asp-action="Save" >
    <input type="hidden" asp-for="Id">
    <div class="form-group">
        <label asp-for="Nom"></label>
        <input class="form-control" asp-for="Nom">
    </div>
    <div class="form-group">
        <label asp-for="Type"></label>
        <select class="form-control" asp-for="Type" asp-items="Html.GetEnumSelectList<ProductType>()"></select>
    </div>

    <input type="hidden" asp-for="Composants">

    <div>
        <label>Composants</label>

        <button id="btnAddComponent" class="btn btn-primary">Ajouter un composant</button>

        <div id="components">

        </div>
    </div>

    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a asp-action="List" class="btn btn-primary">Annuler</a>
</form>

@section Scripts
{
    <script>
        var index = 0;

        function addComposant(idc, qty, nom, id, type) {
            $('#components').append('<div class="form-group"><label>' + nom + ', quantité :</label><input class="form-control" name="comp_qty' + index + '" value="' + qty + '">'
                    + '<input type="hidden" name="comp_id' + index + '" value="' + id + '">'
                    + '<input type="hidden" name="comp_idc' + index + '" value="' + idc + '">'
                    + '<input type="hidden" name="comp_type' + index + '" value="' + type + '"></div>');
            index++;
        }

        $(function(){
            for (var composant of JSON.parse(($('#Composants').val()))) {
                addComposant(composant.Idc, composant.Qty, composant.Nom, composant.Id);
            }

            $('#btnAddComponent').click(function() {
                var nom = prompt('Nom du produit ou de la matière ?');

                $.get( "/api/ProduitEtMatiere/" + nom, function(pmp) {
                    addComposant(0, 1, nom, pmp.id, pmp.type);
                })

                return false;
            });
        });
    </script>
}